asteval==1.0.0
contourpy==1.2.1
cycler==0.12.1
deprecation==2.1.0
dill==0.3.8
fonttools==4.51.0
hightime==0.2.2
kiwisolver==1.4.5
llvmlite==0.42.0
lmfit==1.3.1
matplotlib==3.9.0
nidaqmx==0.9.0
numba==0.59.1
numpy==1.26.4
opencv-python==4.9.0.80
packaging==24.0
pandas==2.2.2
patsy==0.5.6
pillow==10.3.0
plotly==5.22.0
plotly-express==0.4.1
plumbum==1.8.3
pyft232==0.12
pylablib-lightweight==1.4.3
pyparsing==3.1.2
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2024.1
pyusb==1.2.1
PyVISA==1.14.1
rpyc==6.0.0
scipy==1.13.1
six==1.16.0
statsmodels==0.14.2
tenacity==8.5.0
typing_extensions==4.12.0
tzdata==2024.1
uncertainties==3.2.1
websocket-client==1.8.0
